*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    height: 100vh;

    /* debug rules */
    /* background-color: blue; */
}
/* stili header */
header{
    display: flex;
    justify-content: end;
    height: 40px;
    /* debug rules */
    border: 1px solid black;
    background-color: rgb(0, 0, 0);
}
.speaker{
    font-size: 16px;
    color: white;
    background-color: grey;
    padding: 10px;
    width: 140px;
    border-radius: 10px;
    margin-right: 20px;
}
.fa-maximize{
    font-size: 16px;
    color: white;
    background-color: grey;
    padding: 10px;
    border-radius: 10px;
}
/* stili main */
.card{
    background-image: url(../img/rollo-1--46.jpg);
    background-size: cover;
    position: relative;
    width: calc((100% / 7) - 10px);
    height:100px ;
    margin-right: 10px;
    margin-bottom: 10px;
    /* debug rules */
    /* background-color: red; */
    border: 1px solid black;
}
main{
    width: 100%;
    height: calc(100vh - 140px);
     /* debug rules */
     border: 1px solid black;
     background-color: rgb(0, 0, 0);
}
#box-img{
    display: flex;
    flex-wrap: wrap;
    margin: 40px auto;
    width: 95%;
    height: 93%;
    /* debug rules */
    border: 1px solid black;
    background-color: rgb(0, 0, 0);
    overflow: auto;
}
.label{
    font-size: 16px;
    color: white;
    position: absolute;
    padding: 5px;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.537);
    /* debug rules */
    /* border: 1px solid rgb(255, 254, 254); */
}


/* stili footer */
footer{
    display: flex;
    height:100px;
    /* debug rules */
    border: 1px solid rgba(0, 0, 0, 0.961);
    background-color: rgba(0, 0, 0, 0.632);

}

.bottom-left{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    width: 20%;
    height:100%;
    /* debug rules */
    border: 1px solid black;
}

.main-bottom{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    width: 65%;
    height: 100%;
    /* debug rules */
}
.icon{
    text-align: center;
    color: white;
    font-size: 20px;
}

.bottom-right{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    width: 15%;
    height:100%;
    /* debug rules */
    /* border: 1px solid black; */
}


.bg{
    background-color: rgba(0, 0, 0, 0.751);
    color: red;
    font-size: 15px;
}
